* {
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

.banner {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skyblue {
    /* flex: 1; */
    border-top: 2px;
    border-left: 2px;
    border-right: 2px;
    border-color: lightgray;
    border-style: solid;
    height: 100px;
    width: 650px;
    background-color: rgb(7, 142, 183);
}

.white {
    /* flex: 1; */
    border-bottom: 2px;
    border-left: 2px;
    border-right: 2px;
    border-color: lightgray;
    border-style: solid;
    height: 200px;
    width: 650px;
    background-color: white;
}

.profile {
    display: flex;
    position: absolute;
    top: 110px;
}

.profile > img {
    width: 75px;
    margin-left: 25px;
    border-radius: 50%;
    border: -10px;
    border: 2px;
    border-color: lightgray;
    border-style: solid;
}

.name {
    font-size: xx-large;
    margin-top: 30px;
    margin-left: 10px;
}

.location {
    display: flex;
    font-size: x-large;
    gap: 10px;
    margin-bottom: 10px;
    margin-top: 5px;
    margin-left: 10px;
}

img {
    width: 25px;
}

.titles {
    background-color: white;
    margin-bottom: 2px;
    margin-left: 10px;
}

.slogan {
    margin-left: 3px;
    margin-bottom: 15px;
    margin-left: 10px;
}

.settings {
    display: flex;
    margin-left: 10px;
}

.settings > img {
    width: 20px;
}

.settings > a{
    margin-left: 3px;
}